.card-container { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-wrap: balance;
    row-gap: 20px;
    column-gap: 20px;
    }

    @media (max-width: 768px) {
        .card {
          flex: 1 0 calc(100% - 20px);
        }
      }
     
      @media (min-width: 768px) {
        .card {
          flex: 1 0 calc(50% - 20px); /
        }
      }
     
      @media (min-width: 1200px) {
        .card {
          flex: 1 0 calc(33% - 20px);
        }
      }

      .card {
        width: 100%;
        max-width: 640px; 
        margin: 0 auto;
        position: relative;
      }
       
      .card-content {
        padding: 20px;
        background-color: #f2f2f2;
      }
       
      .header, .subheader, .paragraph {
        margin: 0;
      }
       
      .video-container {
        position: relative;
        padding-bottom: 56.25%; 
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      } 
      .video-container iframe,
      .video-container object,
      .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }